.input {
  width: 200px;       /* Ширина */
  height: 20px;       /* Высота */
  font-size: 16px;    /* Размер шрифта */
  margin: 3px 0px;    /* Отступы */
}

.button {
  width: 208px;       /* Ширина */
  height: 25px;       /* Высота */
  font-size: 16px;    /* Размер шрифта */
  margin: 3px 0px;    /* Отступы */
}

.output {
  display: flex;      /* Горизонтальное заполение */
  flex-wrap: wrap;    /* Перенос на другую строку */
}
  
.box {
  margin: 10px;       /* Отступы */
}
  
.box-img {
  width: 170px;       /* Ширина */
  height: 100px;      /* Высота */
}